*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* a{
    text-decoration: none;
    color: black;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    overflow-x: hidden;
}
#hero{
    min-height: calc(100vh - 7rem);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#hero img{
    position: absolute;
    top: -1rem;
    left: 0;
    height: 60rem;
    width: 80rem;
    z-index: -10;
}
.hero-text{
    height: 80%;
    width: 30%;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 8rem;
    text-shadow: 1px 10px 10px black;
}